<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    
    <%-include("partials/_nav") %>

    <h1>File Uploader</h1>
    <% if (user) { %>
      <h2>Welcome <%= user.name %></h2>
      <a href="/folders">Go to folders</a>
    <% } else {%> 
    <section>
        <h2>Log-in</h1>
        <% if(errors.length > 0) { %>
            <ul>
                <% {errors.forEach(error => { %>
                    <li><%= error.msg %></li>
                <% })} %>
            </ul>
        <% } %>
        <%- include("./partials/_form", {action: {text: "Log in", path:"/log-in" }, link: {text: "Sign up", href:"/sign-up"}}) %>
    </section>
    <% } %>
  </body>
</html>
