<form action="<%= action.path %>" method="POST">
  <label for="username">Username:</label>
  <input type="text" name="username" id="username" />
  <label for="password">Password:</label>
  <input type="password" name="password" id="password" />
  <button type="submit"><%= action.text %></button>
  <a href="<%= link.href %>"><%= link.text %></a>
</form>
